body{
    background-image: url("https://u.kanobu.ru/editor/images/18/6e72c3a8-6a70-438e-8ec8-739d03472d47.webp");
    font-size: 10px;
}
.calculator-block{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 400px;
    margin: 1.5rem auto 0;
}
.display{
    grid-column: 1 / -1;
    background: #000000;
    border: #ffef08 1px solid;
    color: #ffffff;
    font-size: 2.2rem;
    text-align: right;
    padding: 1rem 0.8rem;
    border-radius: 5px;
}
.item{
    background: #FF7800 ;
    border: 1px solid #000;
    color: #ffffff;
    text-align: center;
    font-size: 1.7rem;
    padding: 0.3rem;
    border-radius: 5px;
}
.item:hover{
    background-color: #A64E00;
}
.zero{
    grid-column: 1 / 3;
}
.result{
    grid-row: 5 / 7;
    grid-column: 4 / 5;
    background-color: #ffef08;
    color: #000;
    font-weight: 800;
}
.result:hover{
    background-color: #afa403;
}